{% extends 'base.html' %}
{% load static %}

{% block page %}
Read our blog
{% endblock %}

{% block title_page %}
Blog Single
{% endblock %}

{% block content %}

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate">
        <h2 class="mb-3">{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
          </div>
        </div>

        <!-- Lista de Comentários -->
        <ul class="comment-list">
          {% for comment in comments %}
          <li class="comment">
            <div class="vcard bio">
              <!--<img src="{{ comment.user.profile.image.url }}" alt="Image placeholder">-->
            </div>
            <div class="comment-body">
              <h3>{{ comment.name_user }}</h3>
              <div class="meta">{{ comment.created|date:"M d, Y \a\t h:iA" }}</div>
              <p>{{ comment.body }}</p>
              <p><a href="#" class="reply" data-comment-id="{{ comment.id }}">Reply</a></p>
              
              <!-- Lista de respostas -->
              {% if comment.replies.count > 0 %}
              <ul class="children">
                {% for reply in comment.replies.all %}
                <li class="comment">
                  <div class="vcard bio">
                    <!--<img src="{{ reply.user.profile.image.url }}" alt="Image placeholder">-->
                  </div>
                  <div class="comment-body">
                    <h3>{{ reply.name_user }}</h3>
                    <div class="meta">{{ reply.created|date:"M d, Y \a\t h:iA" }}</div>
                    <p>{{ reply.body }}</p>
                    <!-- Não inclua o botão Reply aqui -->
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        
        <!-- Formulário de Resposta -->
        <div id="reply-form" style="display:none;">
          <form method="post" action="{% url 'post_comment' post.id %}">
            {% csrf_token %}
            <input type="hidden" name="parent_id" id="parent_id" value="">
            
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control form-control-sm" id="name" name="name" required>
            </div>
            
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control form-control-sm" id="email" name="email" required>
            </div>
            
            <div class="form-group">
              <label for="content">Your Comment *</label>
              <textarea name="content" id="content" class="form-control form-control-sm" placeholder="Write your comment here" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </form>
        </div>
  
        <!-- Formulário Principal de Comentário -->
        <div class="comment-form-wrap pt-5">
          <h3 class="mb-5">Leave a comment</h3>
          <form method="post" action="{% url 'post_comment' post.id %}" class="p-5 bg-light">
            {% csrf_token %}
            <input type="hidden" name="parent_id" id="parent_id" value="">
            
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="content" id="message" cols="30" rows="10" class="form-control" required></textarea>
            </div>
            
            <div class="form-group">
              <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
            </div>
          </form>
        </div>
      </div> <!-- .col-md-8 -->
      
      <!-- Sidebar -->
      <div class="col-md-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3>Categories</h3>
            <ul>
              {% for brand_data in posts_by_brand %}
              <li><a href="{% url 'blogs_per_brand' brand_data.car_brand %}">{{ brand_data.car_brand__name }} <span>({{ brand_data.total }})</span></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
  
        <div class="sidebar-box ftco-animate">
          <h3>Recent Blog</h3>
          {% for blog in blogs %}
          <div class="block-21 mb-4 d-flex">
            {% if blog.image %}
            <a href="{% url 'blog_detail' blog.id %}" class="blog-img mr-4" style="background-image: url({{ blog.image.url }});"></a>
            {% else %}
            <a class="blog-img mr-4" style="background-image: url({% static 'images/no-photo.jpg' %});"></a>
            {% endif %}
            <div class="text">
              <h3 class="heading"><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span>{{ blog.date }}</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 0</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
  
        <div class="sidebar-box ftco-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
          </div>
        </div>
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section> <!-- .section -->

{% endblock %}

{% block script %}

<script src="{% static 'js/reply_comment.js' %}"></script>

{% endblock %}