{% extends 'base_payment.html' %}



{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Alert for Payment Success -->
            <div class="alert alert-success text-center" role="alert">
                Your payment for the car rental has been successfully completed! Thank you for choosing our services. Have a great trip! 😁
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>

{% endblock %}